<!DOCTYPE html>
<html lang="en" ng-app="processApp">
<head>
    <meta charset="UTF-8">
    <title>流程引擎使用Dome</title>
    <link rel="stylesheet" href="lib/bootstrap.css">
    <link rel="stylesheet" href="lib/loading.css">
    <link rel="stylesheet" href="lib/jquery.toast.css">
    <style>
        .mt {
            margin-top: 50px;
        }
    </style>
</head>
<body class="container" ng-controller="processCtrl">

<!--    进度条-->
<div id="loading" ng-show="progressShowFlag">
    <div></div>
    <div>
        <div class="loader loader-3">
            <div class="dot dot1"></div>
            <div class="dot dot2"></div>
            <div class="dot dot3"></div>
        </div>
    </div>
</div>

<!--主内容-->
<h1 class="h1 text-center">流程引擎接口使用Dome</h1>

<div class="form-group">
    <label>配置流程引擎服务的基本链接地址</label>
    <input type="text" class="form-control" ng-model="processEngineServiceUrl" placeholder="如:http://localhost:8080">
</div>

<!--demo流程图-->
<div class="mt">
    <h3 class="h3">Demo流程示意图
        <small>(结合预备用户表，第一步，第二步，第三步)</small>
    </h3>
    <img src="img/demo.PNG" width="880" height="425">
</div>

<!--预备用户表-->
<div class="mt">
    <h3 class="h3">预备用户表</h3>
    <table class="table table-striped table-bordered table-hover ">
        <thead>
        <tr>
            <th>用户编号
                <small>(userId)</small>
            </th>
            <th>用户名
                <small>(username)</small>
            </th>
            <th>级别
                <small>(level)</small>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in userList">
            <td>{{user.userId}}</td>
            <td>{{user.username}}</td>
            <td>{{user.level}}</td>
        </tr>
        </tbody>
    </table>
</div>


<!--1.部署工作流模板-->
<div class="mt">
    <h3 class="h3"><strong>第一步:</strong>部署工作流模板<small></small></h3>
    <p><strong class="text-danger">工作流模板json编写核心: </strong>先定义 userTask(用户任务)节点,Event(事件)节点,Gateway(网关)节点,
        然后使用sequenceFlow(顺序流)根据流程的业务逻辑去链接这三种定义好了的节点(节点id)，使之成为一个想要的工作流。</p>
    <pre><code ng-bind="deployProcessModelJson"></code></pre>
    <button class="btn bg-primary" ng-click="deployProcessModelClick()">部署工作流模板</button>
</div>

<!--2.配置工作流-->
<div class="mt">
    <h3 class="h3"><strong>第二步:</strong>配置工作流<small>(配置单据)</small></h3>
    <div class="row">
        <div class="form-group col-sm-3">
            <label>员工(提交单据)</label>
            <select class="form-control" ng-model="employeeId">
                <option ng-repeat="user in userList" ng-if="user.level=='员工'">{{user.userId}}</option>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label>签核经理1</label>
            <select class="form-control" ng-model="director1Id">
                <option ng-repeat="user in userList" ng-if="user.level=='经理'">{{user.userId}}</option>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label>签核经理2</label>
            <select class="form-control" ng-model="director2Id">
                <option ng-repeat="user in userList" ng-if="user.level=='经理'">{{user.userId}}</option>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label>签核老板</label>
            <select class="form-control" ng-model="bossId">
                <option ng-repeat="user in userList" ng-if="user.level=='老板'">{{user.userId}}</option>
            </select>
        </div>
<!--        <div class="form-group col-sm-3">-->
<!--            <label>工作流名称</label>-->
<!--            <input type="text" class="form-control" ng-model="processName" placeholder="请输入单据名称"/>-->
<!--        </div>-->
<!--        <div class="form-group col-sm-6">-->
<!--            <label>工作流文档</label>-->
<!--            <textarea class="form-control" rows="3" ng-model="processDocumentation" placeholder="请输入单据信息"></textarea>-->
<!--        </div>-->
    </div>
</div>


<!--3.部署工作流-->
<div class="mt">
    <h3 class="h3"><strong>第三步:</strong>部署工作流(用户提交单据)
        <small>(根据工作流模板部署工作流)</small>
    </h3>
    <pre><code id="deployProcessJsonId">{
    "processDefinitionKey": "ExpenseId",
    "processInstanceName": "{{userId2Username()}}出差报销流程",
    "userId": "{{employeeId}}",
    "map": {
        "bossId": "{{bossId}}",
        "director1Id": "{{director1Id}}",
        "director2Id": "{{director2Id}}",
        "documentation": "{{userId2Username()}}此次去xxx地出差共花了666666...元...",
        "employeeId": "{{employeeId}}"
    }
}</code></pre>
    <button class="btn bg-primary" ng-click="deployProcessClick()">部署工作流</button>
</div>


<!--4.查询用户工作流列表-->
<div class="mt">
    <h3 class="h3"><strong>第四步:</strong>查询用户工作流列表</h3>
    <div class="row">
        <div class="form-group col-sm-3">
            <label>选择查询的用户</label>
            <select class="form-control" ng-model="selectProcessEmployeeId">
                <option ng-repeat="user in userList">{{user.userId}}</option>
            </select>
        </div>
    </div>
    <div ng-show="processList.length>0">
        <table class="table table-striped table-bordered table-hover ">
            <thead>
            <tr>
                <th>开启时间</th>
                <th>类型</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody ngd-click="processItemDelegateClick($event,process,$index)" selector=".process_item">
            <tr ng-repeat="process in processList track by $index">
                <td>{{process.startTime}}</td>
                <td>{{process.processTypeName}}</td>
                <td>{{process.name}}</td>
                <td>
                    <button class="btn btn-danger process_item">删除</button>
                    <button class="btn btn-primary process_item">查看</button>
                </td>
            </tr>
            </tbody>
        </table>
        <img src="{{processImgUrl}}">
    </div>

</div>


<!--5.查询用户任务-->
<div class="mt">
    <h3 class="h3"><strong>第五步:</strong>查询用户任务列表</h3>
    <div class="row">
        <div class="form-group col-sm-3">
            <label>选择查询的用户</label>
            <select class="form-control" ng-model="selectTaskEmployeeId">
                <option ng-repeat="user in userList">{{user.userId}}</option>
            </select>
        </div>
    </div>
    <table ng-show="taskList.length>0" class="table table-striped table-bordered table-hover ">
        <thead>
        <tr>
            <th>开启时间</th>
            <th>任务名称</th>
            <th>工作流名称</th>
            <th>任务描述</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody ngd-click="taskItemDelegateClick(task,$index)" selector=".task_item">
        <tr ng-repeat="task in taskList track by $index">
            <td>{{task.processInstanceEntity.startTime}}</td>
            <td>{{task.taskName}}</td>
            <td>{{task.processInstanceEntity.name}}</td>
            <td>{{task.documentation}}</td>
            <td>
                <button class="btn btn-primary task_item">签核</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
<script src="lib/jquery-3.3.1.min.js"></script>
<script src="lib/jquery.toast.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-delegates.js"></script>
<script>

    const USER_TABLE_DATA = [
        {
            userId: "001",
            username: "马云",
            level: "员工"
        },
        {
            userId: "002",
            username: "马化腾",
            level: "员工"
        },
        {
            userId: "003",
            username: "李彦宏",
            level: "员工"
        },
        {
            userId: "004",
            username: "刘强东",
            level: "员工"
        },
        {
            userId: "005",
            username: "胡歌",
            level: "经理"
        },
        {
            userId: "006",
            username: "赵丽颖",
            level: "经理"
        },
        {
            userId: "007",
            username: "吴京",
            level: "经理"
        },
        {
            userId: "008",
            username: "习大大",
            level: "老板"
        },
        {
            userId: "009",
            username: "地大大",
            level: "老板"
        }
    ];

    //工作流模板的json数据
    const deployProcessModelJson = "{\n" +
        "    \"documentation\": \"费用报销流程\",\n" +
        "    \"name\": \"费用报销申请流程\",\n" +
        "    \"processDefinitionKey\": \"ExpenseId\",\n" +
        "    \"events\": [\n" +
        "        {\n" +
        "            \"id\": \"startId\",\n" +
        "            \"name\": \"开始\",\n" +
        "            \"type\": 0\n" +
        "        },\n" +
        "        {\n" +
        "            \"id\": \"endId\",\n" +
        "            \"name\": \"结束\",\n" +
        "            \"type\": 1\n" +
        "        }\n" +
        "    ],\n" +
        "    \"gateways\": [\n" +
        "        {\n" +
        "            \"id\": \"distributeTaskGatewayId\",\n" +
        "            \"name\": \"分发任务\",\n" +
        "            \"type\": 1\n" +
        "        },\n" +
        "        {\n" +
        "            \"id\": \"collectTaskGatewayId\",\n" +
        "            \"name\": \"汇总任务\",\n" +
        "            \"type\": 1\n" +
        "        }\n" +
        "    ],\n" +
        "    \"sequenceFlows\": [\n" +
        "        {\n" +
        "            \"sourceRef\": \"startId\",\n" +
        "            \"targetRef\": \"employeeTaskId\"\n" +
        "        },\n" +
        "        {\n" +
        "            \"sourceRef\": \"employeeTaskId\",\n" +
        "            \"targetRef\": \"distributeTaskGatewayId\"\n" +
        "        },\n" +
        "        {\n" +
        "            \"sourceRef\": \"distributeTaskGatewayId\",\n" +
        "            \"targetRef\": \"directorTaskId01\"\n" +
        "        },\n" +
        "        {\n" +
        "            \"sourceRef\": \"distributeTaskGatewayId\",\n" +
        "            \"targetRef\": \"directorTaskId02\"\n" +
        "        },\n" +
        "        {\n" +
        "            \"sourceRef\": \"directorTaskId01\",\n" +
        "            \"targetRef\": \"collectTaskGatewayId\"\n" +
        "        },\n" +
        "        {\n" +
        "            \"sourceRef\": \"directorTaskId02\",\n" +
        "            \"targetRef\": \"collectTaskGatewayId\"\n" +
        "        },\n" +
        "        {\n" +
        "            \"sourceRef\": \"collectTaskGatewayId\",\n" +
        "            \"targetRef\": \"bossTaskId\"\n" +
        "        },\n" +
        "        {\n" +
        "            \"sourceRef\": \"bossTaskId\",\n" +
        "            \"targetRef\": \"endId\"\n" +
        "        }\n" +
        "    ],\n" +
        "    \"userTasks\": [\n" +
        "        {\n" +
        "            \"documentation\": \"${documentation}\",\n" +
        "            \"id\": \"employeeTaskId\",\n" +
        "            \"taskName\": \"单据提交确认\",\n" +
        "            \"userId\": \"${employeeId}\"\n" +
        "        },\n" +
        "        {\n" +
        "            \"documentation\": \"${documentation}\",\n" +
        "            \"id\": \"directorTaskId01\",\n" +
        "            \"taskName\": \"经理审批\",\n" +
        "            \"userId\": \"${director1Id}\"\n" +
        "        },\n" +
        "        {\n" +
        "            \"documentation\": \"${documentation}\",\n" +
        "            \"id\": \"directorTaskId02\",\n" +
        "            \"taskName\": \"经理审批\",\n" +
        "            \"userId\": \"${director2Id}\"\n" +
        "        },\n" +
        "        {\n" +
        "            \"documentation\": \"${documentation}\",\n" +
        "            \"id\": \"bossTaskId\",\n" +
        "            \"taskName\": \"老板审批\",\n" +
        "            \"userId\": \"${bossId}\"\n" +
        "        }\n" +
        "    ]\n" +
        "}";

    angular.module("processApp", ['DelegateEvents'])
        .service("tipService", function () {
            //成功
            this.successTip = function (msg) {
                $.toast({
                    heading: '成功',
                    text: msg,
                    showHideTransition: 'plain',
                    position: 'top-center',
                    icon: 'success'
                })
            };
            //错误
            this.errorTip = function (msg) {
                $.toast({
                    heading: '错误',
                    text: msg,
                    hideAfter: 3000,
                    showHideTransition: 'plain',
                    position: 'bottom-right',
                    icon: 'error'
                })
            };
            //提示
            this.commentTip = function (msg) {
                $.toast({
                    heading: '提示',
                    text: msg,
                    showHideTransition: 'plain',
                    position: 'bottom-right',
                    icon: 'info'
                })
            };
            //警告
            this.warningTip = function (msg) {
                $.toast({
                    heading: '警告',
                    text: msg,
                    showHideTransition: 'plain',
                    position: 'top-center',
                    icon: 'bottom-right'
                })
            }

        })
        .controller("processCtrl", function ($scope, $http, tipService) {
            //是否显示进度条
            $scope.progressShowFlag = false;
            //用户数据表
            $scope.userList = USER_TABLE_DATA;
            //预定义选择的用户
            $scope.employeeId = "001";
            $scope.director1Id = "005";
            $scope.director2Id = "006";
            $scope.bossId = "008";
            //用户id转化为用户名称
            $scope.userId2Username = function () {
                let userList = $scope.userList;
                for (let i = 0; i < userList.length; i++) {
                    if (userList[i].userId === $scope.employeeId) {
                        return userList[i].username;
                    }
                }
                return "";
            };

            //监听流程引擎服务的基本地址
            let rootUrl = "http://localhost:8080";
            $scope.$watch("processEngineServiceUrl",function (n, o) {
                if (n !== undefined) {
                    rootUrl = n;
                }
            });


            //1.部署工作流模板
            $scope.deployProcessModelJson = deployProcessModelJson;
            $scope.deployProcessModelResult = "部署工作流模板结果";
            $scope.deployProcessModelClick = function () {
                console.log("rootUrl",rootUrl);
                $scope.progressShowFlag = true;
                $http({
                    method: "POST",
                    url: rootUrl + "/process/deployProcessModel",
                    headers: {'Content-Type': "application/json"},
                    data: $scope.deployProcessModelJson,
                    timeout: 15000
                }).then(function (response) {
                    $scope.progressShowFlag = false;
                    let data = response.data;
                    if (data.status === 200) {
                        $scope.deployProcessModelFlag = "success";
                        tipService.successTip("部署工作流模板成功");
                        console.log("工作流模板id:" + data.data);
                    } else {
                        $scope.deployProcessModelFlag = "fail";
                        tipService.errorTip(data.errorInfo);
                    }
                }, function (error) {
                    $scope.deployProcessModelFlag = "fail";
                    $scope.progressShowFlag = false;
                    tipService.errorTip("网络链接异常");
                });
            };

            //2.第三步:部署工作流(用户提交单据)
            $scope.deployProcessClick = function () {
                $scope.progressShowFlag = true;
                $http({
                    method: "POST",
                    url: rootUrl + "/process/deployProcess",
                    headers: {'Content-Type': "application/json"},
                    data: $("#deployProcessJsonId").html(),
                    timeout: 15000
                }).then(function (response) {
                    $scope.progressShowFlag = false;
                    let data = response.data;
                    if (data.status === 200) {
                        $scope.deployProcessFlag = "success";
                        tipService.successTip("部署工作流成功");
                        console.log("工作流信息:" + data.data);
                    } else {
                        $scope.deployProcessFlag = "fail";
                        tipService.errorTip(data.errorInfo);
                    }
                }, function (error) {
                    $scope.deployProcessFlag = "fail";
                    $scope.progressShowFlag = false;
                    tipService.errorTip("网络链接异常");
                });
            };

            //第四步:查询用户工作流列表
            $scope.$watch("selectProcessEmployeeId", function (n, o) {
                if (n !== undefined) {
                    $scope.progressShowFlag = true;
                    $http({
                        method: "GET",
                        url: rootUrl + "/process/userProcessList?userId=" + n,
                        timeout: 15000
                    }).then(function (response) {
                        $scope.progressShowFlag = false;
                        let data = response.data;
                        if (data.status === 200) {
                            tipService.successTip("success");
                            $scope.processList = data.data;
                        } else {
                            tipService.errorTip(data.errorInfo);
                        }
                    }, function (error) {
                        $scope.progressShowFlag = false;
                        tipService.errorTip("网络链接异常");
                    });
                }
            });
            //流程列表删除与查看事件
            $scope.processItemDelegateClick = function (e, process, index) {
                let $1 = $(e.delegationTarget);
                //删除监听
                if ($1.html() === "删除") {
                    $scope.progressShowFlag = true;
                    $http({
                        method: "GET",
                        url: rootUrl + "/process/deleteProcess?processInstanceId=" + process.id,
                        timeout: 15000
                    }).then(function (response) {
                        $scope.progressShowFlag = false;
                        let data = response.data;
                        if (data.status === 200) {
                            tipService.successTip("删除成功");
                            $scope.processList.splice(index, 1)
                        } else {
                            tipService.errorTip(data.errorInfo);
                        }
                    }, function (error) {
                        $scope.progressShowFlag = false;
                        tipService.errorTip("网络链接异常");
                    });
                } else {
                    $scope.processImgUrl = ROOT_URL + "/process/processDiagram?processInstanceId=" + process.id + "&" + Math.random();
                }
            };

            //5.查询用户任务
            $scope.$watch("selectTaskEmployeeId", function (n, o) {
                if (n !== undefined) {
                    $scope.progressShowFlag = true;
                    $http({
                        method: "GET",
                        url: rootUrl + "/process/userTaskList?userId=" + n,
                        timeout: 15000
                    }).then(function (response) {
                        $scope.progressShowFlag = false;
                        let data = response.data;
                        if (data.status === 200) {
                            tipService.successTip("success");
                            $scope.taskList = data.data;
                        } else {
                            tipService.errorTip(data.errorInfo);
                        }
                    }, function (error) {
                        $scope.progressShowFlag = false;
                        tipService.errorTip("网络链接异常");
                    });
                }
            });
            //任务列表签核事件
            $scope.taskItemDelegateClick = function (task, index) {
                $scope.progressShowFlag = true;
                $http({
                    method: "POST",
                    url: rootUrl + "/process/taskHandle",
                    data: {
                        processInstanceId: task.processInstanceEntity.id,
                        taskId: task.id
                    },
                    timeout: 15000
                }).then(function (response) {
                    $scope.progressShowFlag = false;
                    let data = response.data;
                    if (data.status === 200) {
                        tipService.successTip("删除成功");
                        $scope.taskList.splice(index, 1)
                    } else {
                        tipService.errorTip(data.errorInfo);
                    }
                }, function (error) {
                    $scope.progressShowFlag = false;
                    tipService.errorTip("网络链接异常");
                });
            };

        });


</script>